{% extends "app/layout.html" %}

{% block content %}
            {%for concediu in object_list%}
                <div class="form-style-8" style="font-family: 'Open Sans Condensed', arial, sans; width: 500px; animation-fill-mode:backwards;   padding: 30px;    background: #FFFFFF;    margin: 50px auto;    box-shadow: 0px 0px 15px rgba(215, 131, 42, 0.52);    -moz-box-shadow: 0px 0px 15px rgba(215, 131, 42, 0.52);    -webkit-box-shadow:  0px 0px 15px rgba(215, 131, 42, 0.52);"><b>Request in pending:</b>
                    <p>Start date: {{concediu.start_date}} ----- End date: {{concediu.end_date}}</p>
                </div>
            {%endfor%}



{% endblock %}