{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
        <!--<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
        <div id="slider" style="overflow: hidden;">
        <figure style="position: relative;  width: 300%;  margin: 0;  left: 0;  text-align: left;  font-size: 0;  animation: 30s slidy infinite; ">
            <img src="austin-fireworks.jpg" style="width: 20%; float: left;" alt>
            <img src="taj-mahal_copy.jpg" style="width: 20%; float: left;" alt>
            <img src="ibiza.jpg" style="width: 20%; float: left;" alt>
            <img src="ankor-wat.jpg" style="width: 20%; float: left;" alt>
            <img src="austin-fireworks.jpg" style="width: 20%; float: left;" alt>
        </figure>
        </div>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cerere de concediu</h2>
        <p>
            Accesand link-ul de mai jos, puteti trimite o cerere de concediu catre 
            team-leader-ul dumneavoastra. Acesta din urma va primi un email cu un
            formular PDF ce contine cererea dumneavoastra de email pentru a putea fi 
            printata si semnata. De asemenea, odata validata, veti fi notificat atat
            pe mailul personal cat si pe aplicatie.
            <h5>*Toate campurile sunt obligatorii.</h5>
        </p>
        <p><a class="btn btn-default" href="https://pypi.org/">Go to "Concediu" &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
